{% extends "layout-with-back-link.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        This is a start page example
      </h1>
      <p class="govuk-body">
        For all internal page templates we can extend either layout-with-back-link.html or layout-without-back-link.html to
        enable the compare versions feature in the footer of these layouts (as seen in the footer of this page), that way the designs for the service are separate
        to the meta pages for the prototype indexing and versioning.
      </p>
    </div>

    <div class="govuk-grid-column-one-third">

    </div>
  </div>
{% endblock %}
